---
import { GET } from "../../api/index";
import AdminPanel from "../../../components/AdminSideBar";
import BusesList from "../../../components/BusesList";
import AdminLayout from "../../../layout/AdminLayout.astro";
import AccessDenied from "../../../components/AccessDenied.astro";
import type { User } from "../../../utils/type";

const response = await GET(Astro);
const user: User | null = Astro.locals.user;
const buses = await response.json();
---

<AdminLayout title="Buses">
  {
    user !== null ? (
      <>
        <AdminPanel client:only="react" user={user} />
        <div class="mt-4 basis-[78%] max-h-screen overflow-y-auto pr-10">
          <h1 class="text-2xl font-bold text-blue-900">
            Available Buses at {user?.cooperativeName}
          </h1>
          <BusesList
            client:only="react"
            buses={buses}
            cooperativeName={user?.cooperativeName}
          />
        </div>
      </>
    ) : (
      <AccessDenied />
    )
  }
</AdminLayout>
