---

---

<nav>
  <ul class="flex gap-x-8 uppercase">
    <li class="text-blue-900 hover:text-gray-900"><a href="/">Home</a></li>
    <li class="text-blue-900 hover:text-gray-900"><a href="#">Blog</a></li>
    <li class="text-blue-900 hover:text-gray-900"><a href="#">Explore</a></li>
  </ul>
</nav>
