<div class="lg:flex max-w-screen-2xl mx-auto">
  <div class="md:basis-[55%] lg:basis-[70%] border border-gray-400 rounded-lg">
    <slot name="main-content" />
  </div>
  <div class="md:basis-[45%] lg:basis-[30%] border border-gray-400 rounded-lg">
    <slot name="side-bar-content" />
  </div>
</div>
